@page {
     margin-top: 100px;
     margin-left: 40px;
     margin-right: 40px;
     font-size: 10pt;
     font-family: 'Courier New', Courier, monospace;
}

.table-page table {
     width: 100%;
     /* text-decoration: underline; */
     border-collapse: collapse;
}

.table-original table {
     width: 100%;
     margin-top: 25px;
     /* text-decoration: underline; */
     border-collapse: collapse;
}

.table-discharge table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 10px;
}

.table-consignee table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
}

.table-notify table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 15px;
}

.table-marks table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 50px;
}

.marks td {
     vertical-align: top;
     /* min-height: 300px; */
     /* border: 1px solid; */
     font-family: 'Courier New', Courier, monospace;
     border-collapse: collapse;
     font-weight: bold;
}

.marks-td {
     padding-right: 15px;
}

.table-freight table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 50px;
}

.Freight td {
     vertical-align: top;
     /* min-height: 300px; */
     /* border: 1px solid; */
     font-family: 'Courier New', Courier, monospace;
     border-collapse: collapse;
     font-weight: bold;
}

.empty-td {
     height: 250px;
}