.table-selling {
     width: 100%;
     border-collapse: collapse;
     margin: auto;
     table-layout: fixed;
     font-size: 12pt;
}

.table-selling th {
     background: #2493BF;
     color: white
}

.table-selling td input {
     width: 100%;
     box-sizing: border-box;
}

.table-buying {
     width: 100%;
     border-collapse: collapse;
     margin: auto;
     table-layout: fixed;
     font-size: 12pt;
}

.table-buying th {
     background: #BF2455;
     color: white
}

.table-buying td input {
     width: 100%;
     box-sizing: border-box;
}