.input-full {
     display: inline;
     width: 100%;
     height: 100%;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     border: none;
     /* if you want no box around the input field */
}

table .w-10 {
     width: 10%;
}

table .w-30 {
     width: 30%;
}